.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: lightgrey;
  height: 58px;
  position: absolute;
  top: 0;
  width: 100vw;
}

.header span {
  margin: 0 5vw 0 auto;
  align-self: center;
}